@import "tailwindcss";


.victor-font {
  font-family: 'Victor Mono', monospace;
  font-variant-ligatures: discretionary-ligatures historical-ligatures contextual;
}

.bg-section {
  background-color: rgb(17, 24, 39); /* Tailwind's gray-900 */

}