<section class="pt-16 min-h-screen flex flex-col items-center bg-gradient-to-b from-gray-950 to-gray-900">
    <span class="victor-font text-green-400 text-4xl"> //
        <span class="victor-font text-4xl bg-gradient-to-r from-blue-400 via-purple-600 to-pink-500 text-transparent bg-clip-text">
            About Me
        </span>
    </span>
</section>