<section id="Contact" class="pt-24 min-h-screen flex flex-col items-center bg-gradient-to-b from-gray-950 to-gray-900">
    <span class="victor-font text-green-400 text-4xl"> //
        <span class="victor-font text-4xl bg-gradient-to-r from-blue-400 via-purple-600 to-pink-500 text-transparent bg-clip-text">
            Contact Me
        </span>
    </span>

    <div class="mt-8 group bg-gray-800/60 backdrop-blur border border-gray-700 rounded-2xl p-6 flex flex-col justify-between transition-transform  hover:shadow-xl">

        <span class="victor-font text-green-300 text-xl">
            /*
            <span class="bg-clip-text text-gray-400 ">¡Colaboremos con algo increíble!</span>
            */
        </span> 

        <!-- Inicio objeto -->
        <span class="text-orange-400 victor-font text-lg mt-4">
            const <span class="text-blue-500">contactInfo</span> = &#123;
        </span>

        <!-- Propiedades tabuladas -->
        <div class="pl-6 mt-2 text-lg victor-font space-y-1">
            <div>
                <span class="text-blue-300">email:</span>
                <a class="text-green-300 hover:underline" href="mailto:melendez.portillo.elias@gmail.com">"melendez.portillo.elias@gmail.com",</a>
            </div>
            <div>
                <span class="text-blue-300">linkedin:</span>
                <a class="text-green-300 hover:underline" href="linkedin.com/in/emelport" target="_blank" >"linkedin.com/in/emelport",</a>
            </div>
            <div>
                <span class="text-blue-300">github:</span>
                <a class="text-green-300 hover:underline" href="github.com/Emelport" target="_blank">"github.com/Emelport"</a>
            </div>
        </div>

        <!-- Cierre objeto -->
        <span class="text-orange-400 victor-font text-lg mt-2">&#125;</span>

        <!-- Botones de Contacto -->
       <div class="mt-6 flex flex-col sm:flex-row gap-4 w-full sm:justify-center">
            <a href="mailto:melendez.portillo.elias@gmail.com" class="w-full sm:w-auto">
                <button class="flex items-center justify-center gap-2 px-6 py-3 w-full sm:w-auto border-2 border-blue-300 bg-blue-400 text-white rounded hover:bg-blue-500 hover:border-blue-400 transition duration-300">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" aria-hidden="true">
                        <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                        <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
                    </svg>
                    Email Me
                </button>
            </a>

            <a href="https://www.linkedin.com/in/emelport" target="_blank" rel="noopener noreferrer" class="w-full sm:w-auto">
                <button class="px-6 py-3 w-full sm:w-auto border-2 flex items-center border-blue-300 text-blue-400 bg-transparent hover:bg-blue-400 hover:text-white transition duration-300 rounded">
                LinkedIn
                    <i class="devicon-linkedin-plain ml-2 text-xl"></i>
                </button>       
            </a>

            <a href="https://github.com/Emelport" target="_blank" rel="noopener noreferrer" class="w-full sm:w-auto">
                <button class="px-6 py-3 w-full sm:w-auto border-2 border-gray-600 text-white bg-gray-700 hover:bg-gray-600 transition duration-300 rounded flex items-center justify-center">
                GitHub
                <i class="devicon-github-original ml-2 text-xl"></i>
                </button>
            </a>

        </div>

    </div>

</section>