
<nav class="fixed top-0 left-0 w-full backdrop-blur-md z-50 border-b border-gray-800 ">
	<div class=" victor-font max-w-7xl mx-auto px-4 py-4 flex justify-between items-center">
		<h1 class="text-xl font-bold text-blue-400 flex items-center">
			<span class="text-green-700 text-3xl">{"<"}</span>
			<span class=" mx-1">EMELPORT</span>
			<span class="text-green-700 text-2xl" >{"/>"}</span>
		</h1>

		<div class="space-x-10 text-white text-lg	">
			<a href="#inicio" class=" hover:text-blue-500">Home</a>
			<a href="#servicios" class=" hover:text-blue-500">About Me</a>
			<a href="#projects" class=" hover:text-blue-500">My Projects</a>
			<a href="#contacto" class=" hover:text-blue-500">Contact</a>
		</div>

	</div>
</nav>
