<nav class="fixed top-0 left-0 w-full backdrop-blur-md z-50 border-b border-gray-800">
  <div class="victor-font max-w-7xl mx-auto px-4 py-4 flex justify-between items-center">
    
    <h1 class="text-lg sm:text-xl font-bold text-blue-400 flex items-center">
      <span class="text-green-700 text-2xl sm:text-3xl">{"<"}</span>
      <span class="mx-1">EMELPORT</span>
      <span class="text-green-700 text-xl sm:text-2xl">{"/>"}</span>
    </h1>

    <div class="hidden md:flex space-x-4 lg:space-x-10 text-white text-base sm:text-lg">
      <a href="#Home" class="hover:text-blue-500 transition">Home</a>
      <a href="#About" class="hover:text-blue-500 transition">About Me</a>
      <a href="#Projects" class="hover:text-blue-500 transition">My Projects</a>
      <a href="#Contact" class="hover:text-blue-500 transition">Contact</a>
    </div>

    <div class="md:hidden">
      <button aria-label="Open Menu" class="text-white text-2xl hover:text-blue-500">
        &#9776;
      </button>
    </div>

  </div>
</nav>
