<section id="Projects" class="pt-24 min-h-screen flex flex-col items-center bg-gradient-to-b from-gray-950 to-gray-900">
    <span class="victor-font text-green-400 text-4xl mb-4"> //
        <span class="victor-font text-4xl bg-gradient-to-r from-blue-400 via-purple-600 to-pink-500 text-transparent bg-clip-text">
            My Projects
        </span>
    </span>

    <div class="grid gap-6 sm:grid-cols-2 md:grid-cols-3 mt-4">
        <!-- Project Card -->
        <a href="https://github.com/Emelport/Paint" target="_blank" rel="noopener noreferrer"
            class="group bg-gray-800 border border-gray-700 rounded-lg p-4 victor-font text-white w-full max-w-md transition-transform transform hover:scale-[1.03] hover:shadow-lg cursor-pointer">

            <!-- Image -->
            <div class="mb-4 flex items-center">
                <img src="/src/assets/paintLogo.ico" alt="Paint Project Screenshot" class="w-15 h-15 rounded mr-2" />
                <h3 class="font-semibold text-lg text-blue-400 mb-2">Paint++</h3>
            </div>

            <!-- Description -->
            <p class="text-sm mb-4">
            A simple paint application built with HTML, CSS, and JavaScrip. It explores mathematical formulas to control pixel drawing and brush behavior.
            </p>

            <!-- Technologies -->
            <div class="flex flex-wrap gap-2 mb-4 text-lg">
                <span class="text-yellow-400"><i class="devicon-javascript-plain"></i></span>
                <span class="text-blue-500"><i class="devicon-html5-plain"></i></span>
                <span class="text-orange-500"><i class="devicon-css3-plain"></i></span>
            </div>  

            <!-- Links -->
            <div class="flex justify-end items-center text-sm">
            <span class="text-gray-400 group-hover:text-white flex items-center gap-1">
                <i class="devicon-github-original"></i> GitHub
            </span>
            </div>
        </a>

         <!-- Project Card -->
        <a href="https://github.com/Emelport/MusicLector" target="_blank" rel="noopener noreferrer"
            class="group bg-gray-800 border border-gray-700 rounded-lg p-4 victor-font text-white w-full max-w-md transition-transform transform hover:scale-[1.03] hover:shadow-lg cursor-pointer">


            <!-- Image -->
            <div class="mb-4 flex items-center">
                <img src="/src/assets/musicLector.ico" alt="Music Lector Screenshot" class="w-15 h-15 rounded mr-2" />
                <h3 class="font-semibold text-lg text-blue-400 mb-2">MusicLector</h3>
            </div>

            <!-- Description -->
            <p class="text-sm mb-4">
                A musician's windows app to organize PDF scores, manage order, read them, and make annotations. It features a simple interface with a focus on usability. Check the Github Release for more details.
            </p>

            <!-- Technologies -->
            <div class="flex flex-wrap gap-2 mb-4 text-lg">
                <span><i class="devicon-flutter-plain colored btn-tooltip" title="Flutter"> </i></span>
            </div>

            <!-- Links -->
            <div class="flex justify-end items-center text-sm">
                <span class="text-gray-400 group-hover:text-white flex items-center gap-1">
                    <i class="devicon-github-original"></i> GitHub
                </span>
            </div>
        </a>

           <!-- Project Card -->
        <a href="https://github.com/Emelport/Osiris" target="_blank" rel="noopener noreferrer"
            class="group bg-gray-800 border border-gray-700 rounded-lg p-4 victor-font text-white w-full max-w-md transition-transform transform hover:scale-[1.03] hover:shadow-lg cursor-pointer">


            <!-- Image -->
            <div class="mb-4 flex items-center">
                <img src="/src/assets/osiris.ico" alt="Music Lector Screenshot" class="w-15 h-15 rounded mr-2" />
                <h3 class="font-semibold text-lg text-blue-400 mb-2">Osiris</h3>
            </div>

            <!-- Description -->
            <p class="text-sm mb-4">
               Planting Management System. A web application to manage planting tasks, crops, and resources. It features a user-friendly interface with a focus on usability. its like a simple ERP for small farms.
            </p>

            <!-- Technologies -->
            <div class="flex flex-wrap gap-2 mb-4 text-lg">
                <span><i class="devicon-dot-net-plain colored btn-tooltip" title="Asp.Net"> </i></span>
                <span><i class="devicon-angular-plain btn-tooltip text-red-800" title="Angular"> </i></span>
                <span><i class="devicon-microsoftsqlserver-plain btn-tooltip text-orange-700" title="Sql Server"> </i></span>
            </div>

            <!-- Links -->
            <div class="flex justify-end items-center text-sm">
                <span class="text-gray-400 group-hover:text-white flex items-center gap-1">
                    <i class="devicon-github-original"></i> GitHub
                </span>
            </div>
        </a>
    </div>


</section>